{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <h2>Edit advertisement </h2>
            <form action="/post/update/{{ post._id['$oid'] }}" method="post">
                <div class="form-group">
                    <label for="post-name">Title</label>
                    <input class="form-control" id="post-name" name="title" value="{{ post.title }}" required/>
                </div>
                <div class="form-group">
                    <label for="post-current_city">City</label>
                    <input class="form-control" id="post-current_city" name="city" value="{{ post.city }}" required/>
                </div>
                <div class="form-group">
                    <label for="post-description">Description</label>
                    <input class="form-control" id="post-description" name="description" value="{{ post.description }}" required/>
                </div>
                <div class="form-group">
                    <label for="post-imgUrl">Image Url</label>
                    <input class="form-control" id="post-imgUrl" name="imgUrl" value="{{ post.imgUrl }}" required/>
                </div>
                <div class="form-group">
                    <label for="post-publishedDate">Published Date</label>
                    <input class="form-control" id="post-publishedDate" name="publishedDate" value="{{ post.publishedDate }}" required/>
                </div>
                <button type="submit" class="btn btn-primary">Confirm Update</button>
                <a class="btn btn-default" href="/">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
